{{ $c := "header" }}
{{ $p := . -}}

{{ with .Page.Params.content_blocks }}
  {{ if and (eq (index . 0)._bookshop_name "hero") }}
    <style>
      .header {
        background-color: transparent;
      }
    </style>
  {{ end }}
{{ end }}

<header class="{{ $c }}" x-data="{ open: false }">
  <div class="{{ $c }}__container">
    <nav class="{{ $c }}__nav">
      <a class="{{ $c }}__logo-link" href="/">
        <img class="{{ $c }}__logo-image" src="" alt="">BOTY
      </a>
      {{ partial "hamburger.html" . }}
      <ul class="{{ $c }}__nav-links" x-show="open" x-transition @click.outside="open = false">
        {{ range .Site.Data.nav.links -}}
          <li class="{{ $c }}__nav-item" >
            <a href="{{ .link }}">{{ .text }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>